In [10]:
import pandas as pd
import numpy as np

In [7]:
string = 'esg_'
csv_extension = '.csv'
master_df = pd.DataFrame()
for i in range(2013, 2024):
    name = string + str(i)
    filename = name + csv_extension
    df = pd.read_csv(filename, index_col=0)
    master_df = pd.concat([master_df, df], axis=0)

In [8]:
master_df

,GM,ATI,LUV,DOW,SLM,CNP,COL,MS,DHR,AES,...,PARA,BALL,ELV,META,CEG,GEHC,RVTY,EG,KVUE,VLTO
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,BB,B,BBB,BBB,CCC,BB,AA,BB,BB,BB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-01,BB,B,BBB,BBB,CCC,BB,AA,BB,BB,BB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-01,BB,B,BBB,BBB,CCC,BB,AA,BB,BB,BB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-09,BB,B,BBB,BBB,CCC,BB,AA,BB,BB,BB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-01,BB,B,BBB,BBB,CCC,BB,AA,BB,BB,BB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,BBB,A,BB,AA,A,BBB,NaN,AA,AA,AA,...,A,AA,AA,CCC,BBB,BBB,A,NaN,NaN,NaN
2023-09-01,BBB,A,BB,AA,A,BBB,NaN,AA,AA,AA,...,A,AA,AA,CCC,BBB,BBB,A,NaN,NaN,NaN
2023-10-01,BBB,A,BB,AA,A,BBB,NaN,AA,AA,AA,...,A,AA,AA,CCC,BBB,BBB,A,NaN,NaN,NaN
2023-11-01,BBB,A,BB,AA,A,BBB,NaN,AA,AA,AA,...,A,AA,AA,CCC,BBB,BBB,A,NaN,BBB,AAA
2023-12-01,BBB,A,BB,AA,A,BBB,NaN,AA,AA,AA,...,A,AA,AA,CCC,BBB,A,A,NaN,BBB,AAA

In [13]:
master_df.to_csv('esg_2013to2023.csv', index=True)

#### Mapping

In [15]:
msci_esg_legend = {'CCC':1, 'B':2, 'BB':3, 'BBB':4, 'A':5, 'AA':6, 'AAA':7}

#### Numeric ESG file

In [16]:
master_df_numeric = master_df.replace(msci_esg_legend)

In [17]:
master_df_numeric

,GM,ATI,LUV,DOW,SLM,CNP,COL,MS,DHR,AES,...,PARA,BALL,ELV,META,CEG,GEHC,RVTY,EG,KVUE,VLTO
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,3,2,4,4.0,1.0,3,6.0,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-01,3,2,4,4.0,1.0,3,6.0,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-01,3,2,4,4.0,1.0,3,6.0,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-09,3,2,4,4.0,1.0,3,6.0,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-01,3,2,4,4.0,1.0,3,6.0,3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,4,5,3,6.0,5.0,4,NaN,6,6,6,...,5.0,6.0,6.0,1.0,4.0,4.0,5.0,NaN,NaN,NaN
2023-09-01,4,5,3,6.0,5.0,4,NaN,6,6,6,...,5.0,6.0,6.0,1.0,4.0,4.0,5.0,NaN,NaN,NaN
2023-10-01,4,5,3,6.0,5.0,4,NaN,6,6,6,...,5.0,6.0,6.0,1.0,4.0,4.0,5.0,NaN,NaN,NaN
2023-11-01,4,5,3,6.0,5.0,4,NaN,6,6,6,...,5.0,6.0,6.0,1.0,4.0,4.0,5.0,NaN,4.0,7.0
2023-12-01,4,5,3,6.0,5.0,4,NaN,6,6,6,...,5.0,6.0,6.0,1.0,4.0,5.0,5.0,NaN,4.0,7.0

In [18]:
master_df_numeric.to_csv('esg_2013to2023_numeric.csv', index=True)

In [20]:
master_df_numeric.to_excel('esg_2013to2023_numeric.xlsx', index=True)